body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fixed-width {
  width: 100%;
}

.justify {
  justify-content: center;
}

.no-style {
  list-style: none;
}

#loader {
  position: fixed;
  width: 10%;
  height: 10%;
}

.blue-slot {
  list-style: none;
  background-color: #9ccdff;
  color: white;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  display: flexbox;
  margin: 3%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.white-slot {
  background-color: white;
  color: #55a9ff;
  text-align: center;
  display: flexbox;
  margin: 3%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.description-box-blue {
  list-style: none;
  width: auto;
  height: 50%;
  background-color: #9ccdff;
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.description-box-white {
  list-style: none;
  width: auto;
  height: 50%;
  background-color: white;
  color: #90a4b9;
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.vertical-line {
  display: inline-block;
  text-align: center;
  border-left: 3px solid white;
  height: 38px;
}

.cursive-font {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.footer {
  text-align: center;
  margin: 3%;
}

.footer-logo {
  height: 100px;
  width: auto;
}

.build-wish {
  width: 100%;
  height: auto;
  background-color: #9ccdff;
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10% 10%;
}

.sign-in-google {
  width: 21%;
  height: auto;
}

.signInForm {
  width: 76%;
  margin: auto;
  padding: 2% 2%;
  display: flexbox;
}

.upload-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  display: inline-block;
  justify-content: center;
  align-items: center;
  size: 50rem;
}

.center-text {
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}